* {
  margin: 0;
  font-size: 30px;
  box-sizing: border-box;
}

body {
  background-color: #333;
  color: #eee;
  text-align: center;
}

.header {
  background-color: black;
  min-height: 10vh;
  color: darkorange;
  font-weight: 900;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  min-height: 75vh;
  padding: 2rem 0;
}

.match {
  padding: 2rem 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.match > div {
  min-width: 10rem;
  padding-bottom: 1rem;
}

.match img {
  width: 3rem;
  padding-top: 0%;
}

.options {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.options > div {
  min-width: 10rem;
  padding-bottom: 1rem;
}

.options button {
  border-radius: 1rem;
  border: 0.1rem solid black;
  background-color: #ccc;
}

.options button:hover {
  transform:scale(1.2,1.2);
  -webkit-transform:scale(1.2,1.2);
  -moz-transform:scale(1.2,1.2);
  transition: 0.3s;
}

.options img {
  width: 5rem;
  padding-top: 0%;
}

.footer {
  min-height: 15vh;
  background-color: black;
}

.footer a {
  text-decoration: none;
  color: white;
  font-size: 0.8rem;
}

.footer a:hover {
  color: #ddd;
}

.icons {
  display: flex;
  flex-direction: column;
}

.icons a {
  font-size: 0.5rem;
  color:#999;
}

.icons a:hover {
  color: #888
}

.modal {
  background-color: rgb(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.winner {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.modal > button {
  font-size: 1.5rem;
}

button {
  cursor: pointer;
}

.start {
  background-color: rgb(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.start > :nth-child(n) {
  width: 10rem;
  text-align: left;
}
.start label {
  margin-top: 0.5rem;
}

.start > button:last-child {
  margin-top: 1.5rem;
  width: auto;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  text-align: center;
}